# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# IDE
.idea/
.vscode/

# Database / local cache
*.db

# Streamlit old config
.streamlit/secrets.toml

# Root env
.env

# Frontend env
frontend/.env
frontend/.env.production

# Frontend dependencies / build
frontend/node_modules/
frontend/dist/
